# Ignore node_modules folder
node_modules/

# Ignore runner-results folder
runner-results/

# Ignore videos folder
videos/

# Ignore screenshots folder
screenshots/

# Ignore reports folder
reports/

# Ignore the contents of the fixtures folder
cypress/fixtures/*
